* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 23, 16);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.charsheet-form {
    background-color: rgb(70, 48, 33);
    width: 33.5%;
    padding: 0 1rem
}

.center-img {
    background-color: rgb(48, 84, 84);
    width: 33%;
    height: 30rem;
}

.charsheet-display {
    background-color: rgb(70, 48, 33);
    width: 33.5%;
    padding: 0 1rem
}

.form-line {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: blanchedalmond;
    font-family: 'MedievalSharp', cursive;
    letter-spacing: 0.15rem;
}

input {
    width: 8rem;
    height: 1.5rem;
    padding: 0.2rem;
    /* hogyankell highlight bordert módosítani? */
    color: #222;
    font-family: 'MedievalSharp', cursive;
    letter-spacing: 0.1rem;
}